body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#search-input {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #333;
    border-radius: 5px;
}

#product-list {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
